.mateMain_inputBox input::placeholder {
	color: #C2C6CC;
}
.mateMain_inputBox input {
	border: none;
}
input[type=checkbox] {
    accent-color: rgba(73,85,159,1);    
   -webkit-transform: scale(1.6); /* Safari and Chrome */
   padding: 10px;
}
.mateMain_wrap {
/* 	width: 1920px; */
	height: auto;
	margin: 0px auto;
	
}
/***********************mateMain_content**************************/
.mateMain-banner {
	height: 420px;
	background: rgba(214,228,247,1); 
}
.mateMain_content {
	width: 1920px;
	margin: 0px auto;
	
	position: relative; 
}
.mateMain_content .seachBox {
	position: absolute;
	top: 180px;
	left: 470px;
}
.mateMain_content .selBox {
	position: absolute;
	top: 15px;
	left: 35px;
}
.mateMain_content h2 {
  width: 367px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0px 30px 0px;
}
.mateMain_content .mateMain_inputBox {
  width: 1000px;
  height: 70px;
  background: rgba(255,255,255,1);
  position: relative;
}
.mateMain_content .sel1 {
	border-right : 1px solid #C2C6CC;
	float: left;
	padding: 0px 80px 0px 0px;
}
.mateMain_content .sel2 {
	border-right : 1px solid #C2C6CC;
	float: left;
	margin: 0px 0px 0px 10px;
}
.mateMain_content .sel3 {
	border-right : 1px solid #C2C6CC;
	float: left;
	margin: 0px 0px 0px 10px;
}
.mateMain_content .sel4 {
	float: left;
	margin: 0px 0px 0px 10px;
}
.mateMain_content .LocationLabel {
  width: 80px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.mateMain_content .CheckInLabel {
  width: 80px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.mateMain_content .CheckOutLabel {
  width: 80px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.mateMain_content .PeopleLabel {
  width: 70px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.mateMain_content .searchPictogrem {
  width: 54px;
  height: 54px;
  background: url("/assets/images/round-search.png");
  border-radius: 50%;
  float: right;
  position: absolute;
  top: 8px;
  left: 930px;  
  cursor: pointer;
}

/***********************mateMain_content2**************************/
.mateMain_content2 input {
	margin: 0px 10px 0px 0px;
}
.mateMain_content2 {
	width: 1440px;
	height: 2500px;
	background: rgba(255,255,255,1);
	margin: 0px auto;	
}
.mateMain_content2 .DetaileBox {
	width: 150px;
	height:55px;
	background-color: #4454A1;
	float: left;
	position: relative;
	
}
.mateMain_content2 .DetaileBox .DetaileBoxFont {
	top: 19px;
	left: 60px;
	font-family: Noto Sans;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    position: absolute;
}
.mateMain_content2 .DetaileBox .DetaileBoxImg {
	top: 17px;
	left: 25px;
    position: absolute;
}
.mateMain_content2 .checkBox {
  width: 1284px;
  height: 53px;
  background: rgba(255,255,255,1);
  margin: 60px 0px 50px 100px;
  padding : 0px 0px 0px 0px;
  border: 1px solid rgba(217,217,217,1);
  overflow: hidden;
  position: relative;
}
.mateMain_content2 .nonSmoke {
  width: 90px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 19px;
  left: 30px;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mateMain_content2 .femaleDriver {
  width: 120px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 19px;
  left: 180px;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mateMain_content2 .pet {
  width: 90px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 19px;
  left: 350px;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mateMain_content2 .phoneCharger {
  width: 210px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 19px;
  left: 500px;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mateMain_content2 .useTrunk {
  width: 160px;
  color: rgba(72,72,72,1);
  position: absolute;
  top: 19px;
  left: 700px;
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.mateMain_content2 .mateListAll {
	width: 1500px;
}
.mateMain_content2 .mateList {
	float: left;
	height: 420px;
	margin: 0px 24px 90px 0px;
}
.mateMain_content2 .mateList .matePicture {
  width: 340px;
  height: 340px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0px 0px 15px 0px;
}
.mateMain_content2 .mateList .driverName {
  width: 118px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  margin: 0px 85px 10px 0px;
}
.mateMain_content2 .mateList .schedule {
  width: 135px;
  color: rgba(72,72,72,1);
  font-family: Noto Sans;
  font-weight: 400;
  font-size: 16px;
  float: right;
}
.mateMain_content2 .mateList .startEnd {
  width: 250px;
  color: rgba(72,72,72,1);
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 20px;
  margin: 10px 0px 0px 0px;
 float: left;
}
.mateMain_listBox {
	float: right;
}
.mateMain_content2 .mateList img {
	margin: 5px 0px 3px 0px;
}
.mateMain_content2 .mateList .seatNo {
  width: 50px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  margin: 7px 0px 0px 0px;
}
.mateMain_content2 .mateList .petYN {
  width: 50px;
  color: rgba(72,72,72,1);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 16px;
  padding: 5px 0px 0px 0px;
}
.mateMain_content2 .mateListBtn {
  width: 310px;
  height: 65px;
  background: rgba(70,84,163,1);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 30px 0px 0px 560px;
  float: left;
}
.mateMain_content2 .mateListBtn h2 {
  width: 100px;
  color: rgba(255,255,255,1);
  font-family: Noto Sans;
  font-weight: Bold;
  font-size: 24px;
  margin: 10px 0px 10px 120px;
}
.mateMain_banner {
  width: 1920px;
  height: 200px;
  background: rgba(244,251,251,1);
}
.mateMain_banner h2 {
  width: 137px;
  color: rgba(30,30,30,1);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 30px; 
}

--예시
/*이미지*/
.mateMain_content2 .g2 {
	width : 1400px;
	padding-top : 20px;
}
.mateMain_content2 .g2:after {
	content : "";
	display : block;
	clear : both;
}
.mateMain_content2 .g2grounp {
	width : 350px;
	height : 500px;
	float : left;
	position : relative;
}
.mateMain_content2 .g2image {
	position : absolute;
	display : none;
}
.mateMain_content2 .g2hover:hover>.g2image { 
	display:block;
}
.mateMain_content2 .g2>ul>li:nth-child(2) {
	background-color : #cf5414;
	color : #fdebd9;
	font : 13pt '나눔고딕';
	width : 340px;
	height : 30px;
	padding : 5px;
	box-sizing : border-box;
	text-align : center;
	border-radius : 3px;
}
.mateMain_content2 .g2>ul>li:nth-child(3) {
	width :340px;
	height : 30px;
	padding : 5px;
	font : 13pt '나눔고딕';
	box-sizing : border-box;
	text-align : center;
}
.mateMain_content2 .g2>ul>li:nth-child(4) {
	float : left;
	width : 30px;
	margin-left : 40px;
	height : 30px;
	text-align : center;
	box-sizing : border-box;
}
.mateMain_content2 .g2>ul>li:nth-child(5) {
	float : left;
	width :280px;
	height : 30px;
	padding : 5px;
	font : 13pt '나눔고딕';
	box-sizing : border-box;
}

/*더보기버튼*/
.mateMain_content2 .plus {
	text-align : center;
}
.mateMain_content2 button {
	width : 150px;
	height : 40px;
	border-radius : 40px;
	color : #fdebd9;
	font : bold 13.5pt '나눔고딕';
	background-color : #cf5414;
	margin-top : 50px;
	margin-bottom : 50px;
	cursor : pointer;
}
.matePicture:hover {
	/* width:400px; */  /* 사진크기 조절 */
    transform:scale(1.05, 1.05);  /* 가로2배 새로 1.5배 로 커짐 */
    transition: transform.1s;  /* 커지는 시간 */
}

--예제
.js-load {
    display: none;
}
.js-load.active {
    display: block;
}
.is_comp.js-load:after {
    display: none;
}
.btn-wrap, .lists, .main {
    display: block;
}
.main {
    max-width: 640px;
    margin: 0 auto;
}
.lists {
    margin-bottom: 4rem;
}
.lists__item {
    padding: 20px;
    background: #EEE;
}
.lists__item:nth-child(2n) {
    background: #59b1eb;
    color: #fff;
}
.btn-wrap {
    text-align: center;
}


