@charset "UTF-8";

/*
-------------------------------------------------
-------------------------------------------------
Content Style Sheet
Version : 1.0
Author : JYJ
First update : 2022. 07. 28.
Last update : 2022. 08. 26.
-------------------------------------------------
-------------------------------------------------
*/

/***** font *****/
/*
font-family: 'Noto Sans Korean';
font-family: 'Noto Sans', sans-serif;
font-family: 'Noto Sans Italic', sans-serif;
font-family: 'Montserrat';
font-family: 'Montserrat Italic';
font-weight : 600;
font-size : 32px;
*/

/********** common **********/
/* html, body{background:#f9fafb;} */
.inner{display:block; width:1440px; margin:0 auto;}
/********** //common **********/

/********** skip_navi **********/
.skip_navi {display: none;}
/********** //skip_navi **********/

/********** header **********/
.header_wrapper{display:block; position:relative;}
.header_wrapper > .inner{padding:20px 0; box-sizing:border-box; text-align:center;}
.header_wrapper .lft_sec{display:inline-block; float:left; position:relative; vertical-align:middle;}
.header_wrapper .cen_sec{display:inline-block; vertical-align:middle; margin: 20px 0;}
.header_wrapper .rit_sec{display:inline-block; float:right; position:relative; vertical-align:middle; margin: 20px 0; }

.header_wrapper .top_banner {width: 100%; height: 40px;
    background-color: #4655a4;}
.header_wrapper .top_banner p{color: #fff; text-align: center; padding : 12px 0px 0px 0px; font-size: 14px; font-weight: 300;}

.header_wrapper .header_logo{display:block; position:relative;}
.header_wrapper .header_logo a{display:block; position:relative;}
/* .footer_wrapper .header_logo a img{width:150px; height:79px;}  */

/* .header_wrapper .header_tit{display:block; position:relative; margin-bottom:20px; text-align:left; color:#1e1e1e; font-size:18px; font-weight:700; letter-spacing:-0.25px; line-height:30px;} */

.header_wrapper .rit_sec{display:inline-block; position:relative;}
/********** //header **********/


/********** gnb **********/
/* .gnb{display:flex;} */
.gnb{display:flex;}
.gnb > li{display:inline-block;}
.gnb > li > a{display:inline-block; padding:0 40px;
    color:#1e1e1e; font-family: 'Montserrat'; font-size:16px; font-weight: 500;
    letter-spacing:-0.25px; line-height:50px;}
.gnb > li > a:hover{color:#4454A1; font-weight:700;}

.gnb > li > .depth2{display:none; position:absolute; z-index:100; top:100%; left:0; width: 100%; height: 50px; box-sizing:border-box; background: rgba(245, 245, 245, 0.8); text-align:center;}
/* .gnb > li > .depth2 > ul{display:flex; justify-content:center;} */
.gnb > li > .depth2 > ul{display:flex; justify-content:center;}
.gnb > li > .depth2 > ul > li{display:inline-block; position:relative; min-width:150px; height: 50px;}

.gnb > li > .depth2 > ul > li > a{display:inline-block; position:relative; padding:0 20px; box-sizing:border-box; color:#1e1e1e; font-family: 'Montserrat'; font-size:14px; font-weight:500; letter-spacing:-0.25px; line-height:50px;}
.gnb > li > .depth2 > ul > li > a:hover {color:#4454A1; font-family: 'Montserrat'; font-weight:700;}
.gnb > li > .depth2 > ul > li:hover { border-bottom: 2px solid #4655a4;}
/********** //gnb **********/

/********** login/join button **********/
.header_btn{display:flex;}
.header_btn > li{display:inline-block;}
.header_btn > li > a{display:inline-block; padding:0 40px; color:#1e1e1e; font-size:16px; font-weight:400; letter-spacing:-0.25px; line-height:45px; height: 45px;}

.header_btn > li> .btn_login {border-radius: 6px; background-color: #fff; 
    border : 1px solid #F5F5F5;
    font-family: 'Montserrat'; font-weight: 500;}
.header_btn > li> .btn_login:hover {color:#4454A1; font-family: 'Montserrat'; font-weight:700;}
.header_btn > li >.btn_join {border-radius: 6px; background-color: #4454A1;
    font-family: 'Montserrat'; font-weight: 500; color :#fff;}
/********** //login/join button  **********/

/********** login after **********/
.loginafter{display:flex;}
.loginafter > li{display:inline-block; position:relative;}
.loginafter .btn_a1 {
    display:inline-block; padding:0px 40px 0px 0px; color:#1e1e1e;
    font-family: 'Montserrat'; font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:40px;
    height: 45px; box-sizing:border-box;
    border-radius: 6px; background-color: #fff; border : 1px solid #F5F5F5;
}
/*
.loginafter .btn_a1{display:inline-block; position:relative; height:45px; border-radius:6px; background:#fff; border:1px solid #f5f5f5; box-sizing:border-box; padding:0 50px 0 0; color:#1e1e1e; font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:40px;}
*/

.loginafter.active .btn_a1 {font-family: 'Montserrat'; font-weight:700; color:#4454A1;}
.loginafter .btn_a1:before{display:block; position:absolute; top:50%; right:10px; transform:translateY(-50%); width:15px; height:9px; content:""; background:url(/assets/images/common/ico_select_down.png)no-repeat center center; transition:all .3s;}
.loginafter.active .btn_a1:before{transform:translateY(-50%) rotate(180deg);}
.loginafter .btn_a1 img { width: 40px;  margin: 0px 3px;}

.loginafter .btn_a2 {
    display:inline-block; padding:0 40px; font-family: 'Montserrat';
    font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:45px; height: 45px;
    border-radius: 6px; background-color: #4454A1; color :#fff;
}

.loginafter .btn_a1 > a{padding-left:60px; border:1px solid #c9c9c9; background:#fff;  text-align:left; color:#1e1e1e; font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:48px;}

.loginafter .btn_a1 + .down{display:none; position:absolute; z-index:1000; top:100%; left:0; width:100%; padding-top:5px;}
.loginafter .btn_a1 + .down ul{display:block; position:relative; border:1px solid #f5f5f5; box-shadow:0 1px 5px rgba(0, 0, 0, 0.15); border-radius:8px; box-sizing:border-box; overflow:hidden;}
.loginafter .btn_a1 + .down ul li{display:block; position:relative;}
.loginafter .btn_a1 + .down ul li a{display:block; position:relative; padding-left:15px; box-sizing:border-box; background:#fff; text-align:left; color:#333; font-size:16px; font-weight:400; letter-spacing:-0.25px; line-height:50px;}
.loginafter .btn_a1 + .down ul li a:hover{background:#f8f9fa; color:#4454A1; font-weight:500;}

/********** //llogin after  **********/


/********** footer **********/
.footer_wrapper {background-color: #F9FAFB;}
.footer_wrapper .footer_top{padding:40px 0; box-sizing:border-box; text-align:center;}
.footer_wrapper .footer_bott{position:relative; padding:40px 0; box-sizing:border-box; border-top:1px solid #c9c9c9;}
.footer_wrapper .lft_sec{display:inline-block; float:left; position:relative; vertical-align:middle;}

.footer_wrapper .cen_sec{display:inline-block; vertical-align:middle;}
.footer_wrapper .rit_sec{display:inline-block; float:right; position:relative; vertical-align:middle;}

.footer_wrapper .footer_tit{display:block; position:relative; margin-bottom:20px; text-align:left; color:#1e1e1e; font-size:20px; font-weight:700; letter-spacing:-0.25px; line-height:30px;}

.footer_wrapper .footer_logo{display:block; position:relative;}
.footer_wrapper .footer_logo a{display:block; position:relative;}
/* .footer_wrapper .footer_logo a img{width:100%; height:100%;} */


.footer_wrapper .footer_menu{display:block;}
.footer_wrapper .footer_menu li{display:inline-block; float:left; position:relative; margin:0 40px;}
.footer_wrapper .footer_menu li:first-of-type{margin-left:0;}
.footer_wrapper .footer_menu li a{display:block; position:relative; color:#1e1e1e; font-size:16px; font-weight:400; letter-spacing:-0.25px; line-height:50px;}
.footer_wrapper .footer_menu li a:hover{color:#4454A1; font-weight:600;}
/* text-decoration:underline; */

.footer_wrapper .portfolio{display:inline-block; position:relative;}
.footer_wrapper .portfolio > a{display:block; position:relative; width:240px; height:50px; padding-left:60px; border:1px solid #c9c9c9; box-sizing:border-box; background:#fff url(/assets/images/common/ico_portfolio.png)no-repeat left 15px center; text-align:left; color:#1e1e1e; font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:48px;}
.footer_wrapper .portfolio > a:before{display:block; position:absolute; top:50%; right:10px; width:15px; height:9px; transform:translateY(-50%); content:""; background:url(/assets/images/common/ico_select_down.png)no-repeat center center; transition:all .3s;}
.footer_wrapper .portfolio.active > a:before{transform:translateY(-50%) rotate(180deg);}
/* .footer_wrapper .portfolio > .down{display:none; position:absolute; z-index:1000; top:100%; left:0; width:100%;} */
.footer_wrapper .portfolio > .down{display:none; position:absolute; z-index:1000; bottom:100%; left:0; width:100%;}
.footer_wrapper .portfolio > .down ul{display:block; position:relative; width:100%; margin-top:5px; border:1px solid #c9c9c9; box-sizing:border-box; background:#fff;}
.footer_wrapper .portfolio > .down ul li{display:block; position:relative;}
.footer_wrapper .portfolio > .down ul li a{display:block; position:relative; padding-left:30px; box-sizing:border-box; text-align:left; color:#666; font-size:16px; font-weight:500; letter-spacing:-0.25px; line-height:50px;}
.footer_wrapper .portfolio > .down ul li a:hover{background:#f9fafb; color:#4454A1;}
.footer_wrapper .portfolio > .down ul li:first-of-type a{color:#1e1e1e; cursor:default;}
.footer_wrapper .portfolio > .down ul li:first-of-type a:hover{background:none; color:#1e1e1e;}

.footer_wrapper .footer_link{display:flex; position:absolute; z-index:2; top:40px; left:0;}
.footer_wrapper .footer_link li{display:block; position:relative;}
.footer_wrapper .footer_link li a{display:block; position:relative; padding:0 10px; color:#1e1e1e; font-size:14px; font-weight:400; letter-spacing:-0.25px; line-height:30px;}
.footer_wrapper .footer_link li a:hover{color:#4454A1; font-weight:600;}
.footer_wrapper .footer_link li + li a:before{display:block; position:absolute; top:50%; left:0; width:1px; height:60%; transform:translateY(-50%); content:""; background:#1e1e1e;}

.footer_wrapper .copy{display:block; position:relative; padding-left:425px; text-align:left; color:#333; font-size:12px; font-weight:400; letter-spacing:-0.25px; line-height:30px;}

/********** footer_banner **********/
.footer_banner {width: 100%;}
.footer_banner .swiper-slide a{display:block; position:relative; text-align: center;}
.footer_banner .swiper-slide img{max-width:100%; image-rendering:-webkit-optimize-contrast;}

/********** //footer_banner **********/


/********** top button **********/
.topbutton { display: block; position:fixed; bottom:35px; right: 68px; z-index: 999; }
/********** //top button **********/

/********** police scroll banner **********/
/* #scrollbanner { position: absolute; z-index: 999; right: 30px; top: 500px;} */
#scrollbanner { display: block; position:fixed; bottom: 130px; right: 50px; z-index: 999; }

#scrollbanner > ul >li {width: 100px; height: 35px; background-color: #fff;  text-align: center; box-sizing: border-box; padding : 8px 5px 8px 5px;}
#scrollbanner > ul >li:first-child { border: 1px solid #e5e5e5; }
#scrollbanner > ul >li:last-child { border: 1px solid #e5e5e5; border-top: 0; }
#scrollbanner > ul > li > a{ font-size: 12px; font-weight: 400; color: #1e1e1e; }
#scrollbanner > ul > li:hover{ background: #f8f9fa; }
#scrollbanner > ul > li > a:hover{ font-size: 12px; font-weight: 600; color: #4454A1; }

/********** //police scroll banner **********/


/********** review_banner **********/
.review_banner_wrapper{display:block; position:relative; width:100%; height:350px; padding:35px 0 70px; box-sizing:border-box; background:#f6f6f6;}
.review_banner_wrapper .review_banner .swiper-slide a{display:block; position:relative;}
.review_box{display:block; position:relative;}
.review_box .review_top{display:block; position:relative;}
.review_box .review_top .writer_img{display:inline-block; position:relative; vertical-align:middle; width:70px; height:70px; border-radius:70px; background:#999;}
.review_box .review_top .writer_info{display:inline-block; position:relative; vertical-align:middle; padding-left:10px; box-sizing:border-box;}
.review_box .review_top .writer_info .name{display:block; position:relative; text-align:left; color:#1e1e1e; font-size:16px; font-weight:600; letter-spacing:-0.25px; line-height:20px;}
.review_box .review_top .writer_info .date{display:block; position:relative; margin-top:5px; text-align:left; color:#1e1e1e; font-size:14px; font-weight:400; letter-spacing:-0.25px; line-height:20px;}
.review_box .review_dec{display:block; position:relative; margin-top:20px; text-align:left; color:#1e1e1e; font-size:14px; font-weight:400; letter-spacing:-0.25px; line-height:20px;}

.review_banner_wrapper .review_banner_btns{display:inline-block; position:absolute; bottom:30px; left:50%; transform:translateX(-50%);}
.review_banner_wrapper .review_banner_btns .swiper-button-prev{display:inline-block; position:relative; top:auto; bottom:auto; left:auto; right:auto; border:0; cursor:pointer; width:40px; height:40px; background:url(/assets/images/common/ico_arrow_lft.png)no-repeat center center;}
.review_banner_wrapper .review_banner_btns .swiper-button-prev:after{display:none;}
.review_banner_wrapper .review_banner_btns .swiper-button-next{display:inline-block; position:relative; top:auto; bottom:auto; left:auto; right:auto; border:0; cursor:pointer; width:40px; height:40px; background:url(/assets/images/common/ico_arrow_rit.png)no-repeat center center; margin-left:10px;}
.review_banner_wrapper .review_banner_btns .swiper-button-next:after{display:none;}
/********** //review_banner **********/


/********** 상단 banner **********/
/*content*/
.content {
	min-height: 210px;
	position : relative;
}
.content:after {
	content : "";
	display : block;
	clear : both;
}

/********** // 상단 banner **********/
