.driver-top-banner {
	height:230px;
	background-color: #e8e7e7;
	position:relative;
}


.driver-MainText1{
  width: 660px;
  color: rgba(30,30,30,1);
  font-family: Montserrat;
  font-weight:700;
  font-size: 32px;
  text-align: left;
  float:left;
  margin: 120px 0px 0px 220px;
  position:absolute;
}


.driver-MainText2{
  width: 500px;
  color: rgba(30,30,30,1);
  top: 303px;
  left: 975px;
  font-family: Montserrat;
  font-weight:700;
  font-size: 20px;
  text-align: left;
  float: right;
  padding: 0px 50px 0px 0px;
  margin: 140px 445px 0px 0px;

}

#driver-content {
	width: 1440px;
	height: 1500px;
	margin:0px auto;
	position: relative; 
	
}
.first > img {
	float:left;
	margin: 150px 0px 0px 150px;
}
.first > span {
	float:left;
	margin: 170px 0px 0px 30px;
	font-weight: 600;
	font-size: 25px;
}
.first > p {
	float: right;
	font-weight: 600;
	margin: 180px 150px 0px 0px;
}

.second {
	margin: 150px 0px 0px 0px;
}
.second img {
	float:right;
	width:720px;
	height:400px;
}
.second .s1 {
	float:left;
	margin: 100px 0px 0px 30px;
}
.second .s1 .sfd {
	text-align:left;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 30px;
}
.second .s1 .ssd {
	float:left;
	margin: 30px 0px 0px 0px;
	font-family: "Montserrat";
	font-size:18px; 
}
.second .s1 .ssd a {
	text-align:center;
	display:block;
	margin: 30px 0px 0px 0px;
	font-family: "Montserrat";
	padding:0 20px 0 20px; 
    font-size:16px; 
    font-weight:600;
    letter-spacing:-0.25px;  
    line-height:45px;
    width: 100px;
    height: 45px;
    border-radius: 6px; 
    background-color: #f8f9fa;
    color :#4454a1;
}


.third {
	margin: 50px 0px 0px 0px;
}
.third img {
	float:left;
	width:720px;
	height:400px;
}
.third .t1 {
	float:left;
	margin: 100px 0px 0px 60px;
}
.third .t1 .tfd {
	text-align:left;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 30px;
}
.third .t1 .tsd {
	float:left;
	margin: 30px 0px 0px 0px;
	font-family: "Montserrat";
	font-size:18px; 
}
.third .t1 .tsd a {
	text-align:center;
	display:block;
	margin: 30px 0px 0px 0px;
	padding:0 20px 0 20px; 
    font-size:16px; 
    font-weight:600;
    letter-spacing:-0.25px;  
    line-height:45px;
    width: 100px;
    height: 45px;
    border-radius: 6px; 
    background-color: #f8f9fa;
    color :#4454a1;
}

.fourth {
	margin: 50px 0px 200px 0px;
}
.fourth img {
	float:right;
	width:720px;
	height:400px;
}
.fourth .f1 {
	float:left;
	margin: 100px 0px 0px 30px;
}
.fourth .f1 .ffd {
	text-align:left;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 30px;
}
.fourth .f1 .fsd {
	float:left;
	margin: 30px 0px 0px 0px;
	font-family: "Montserrat";
	font-size:18px; 
}
.fourth .f1 .fsd a {
	text-align:center;
	display:block;
	margin: 30px 0px 0px 0px;
	padding:0 20px 0 20px; 
    font-size:16px; 
    font-weight:600;
    letter-spacing:-0.25px;  
    line-height:45px;
    width: 100px;
    height: 45px;
    border-radius: 6px; 
    background-color: #f8f9fa;
    color :#4454a1;
}