@charset "UTF-8";

@charset "UTF-8";
/*r*/
/*wrap*/
#wrap {
	width: 100%;
	margin: 0px auto;
}

/*contents*/
.contents {
	width: 1440px;
	height: 100%;
	padding: 50px 180px 200px 0px;
	margin: 0px auto;
	/*border: 1px solid #ff00ff;*/
	overflow: hidden;
}

/**************************공통******************************/

/*button 요소
.myPage_btnB {
   color: rgba(255, 255, 255, 1);
   font-family: Noto Sans;
   font-weight: SemiBold;
   font-size: 24px;
   text-align: center;
   background: rgba(68, 84, 161, 1);
}

.myPage_btnY {
   color: rgba(255, 255, 255, 1);
   font-family: Noto Sans;
   font-weight: SemiBold;
   font-size: 24px;
   text-align: center;
   background: rgba(239, 192, 74, 1);
}*/

/**************************topNav******************************/
/*topNav*/
.myPage_topNav {
	margin: 0px auto;
	padding-top: 40px;
	width: 100%;
	height: 190px;
	background: rgba(232, 231, 231, 1);
	text-align: center;
}

/*메뉴박스1*/
.myPage_topNav>.box1 {
	width: 228px;
	height: 68px;
	position: relative;
	top: 51px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	display: inline-block;
	padding: 15px;
	background: rgba(255, 255, 255, 1);
}

.myPage_topNav>.box1>.box1_box {
	width: 70px;
	height: 70xp;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(70, 84, 163, 1);
	border-radius: 8px;
	float: left;
	margin-right: 25px;
}

.myPage_topNav>.box1>p {
	width: 120px;
	color: rgba(47, 47, 48, 1);
	font-family: Montserrat;
	font-weight: 700;
	font-size: 16px;
	text-align: left;
	float: left;
	margin-top: 10px;
}

.myPage_topNav>.box1>span {
	width: 58px;
	color: rgba(47, 47, 48, 1);
	font-family: Montserrat;
	font-weight: Regular;
	font-size: 14px;
	text-align: left;
	margin-top: 10px;
	margin-right: 5px;
	float: left;
}

/*메뉴박스 별 픽토*/
.myPage_topNav>.box1>span>img {
	width: 13px;
	height: 13px;
	float: left;
	margin: 1px 4px 0px 0px;
}

/*메뉴박스2*/
.myPage_topNav>.box2 {
	width: 160px;
	height: 68px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	display: inline-block;
	padding: 15px;
	position: relative;
	top: 5px;
}

.myPage_topNav>.box2>p {
	width: 100%;
	color: rgba(91, 91, 91, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	position: relative;
	top: 8px;
	text-align: left;
}

.myPage_topNav>.box2>span {
	width: 61px;
	color: rgba(70, 84, 163, 1);
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	text-align: left;
	float: left;
	position: relative;
	top: 20px;
}

.myPage_topNav>.box2>img {
	position: relative;
	top: 15px;
	left: 35px;
}

.myPage_topNav>.box2>P>a {
	color: rgba(91, 91, 91, 1);
}

/*메뉴박스3*/
.myPage_topNav>.box3 {
	width: 160px;
	height: 68px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	display: inline-block;
	padding: 15px;
}

.myPage_topNav>.box3>p {
	width: 100%;
	color: rgba(91, 91, 91, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	opacity: 1;
	position: relative;
	top: 8px;
	text-align: left;
}

.myPage_topNav>.box3>span {
	width: 61px;
	color: rgba(70, 84, 163, 1);
	font-family: Montserrat;
	font-weight: 700;
	font-size: 14px;
	text-align: left;
	float: left;
	position: relative;
	top: 20px;
}

.myPage_topNav>.box3>img {
	position: relative;
	top: 15px;
	left: 35px;
}

.myPage_topNav>.box3>p>a {
	color: rgba(91, 91, 91, 1);
}

/**************************sideNav******************************/

/*sideNav*/
.myPage_sideNav {
	width: 320px;
	height: 100%;
	padding: 0px 0px 0px 90px;
	/*border: 1px solid #ff00ff;*/
	float: left;
}

/* 마이페이지 글자 */
.myPage_sideNav>h2 {
	width: 120px;
	height: 66px;
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	color: rgba(47, 47, 48, 1);
}

/*sideNav list*/
.myPage_list>li {
	width: 220px;
	height: 50px;
	border: 1px solid rgba(217, 217, 217, 1);
	border-bottom: none;
}

.myPage_list>li>a {
	width: 100%;
	height: 100%;
	color: #2f2f30;
	padding: 15px 0px 0px 13px;
	font-size: 16px;
	font-family: Noto Sans;
	font-weight: 700;
	display: inline-block;
}

.myPage_list img {
	float: right;
	margin-right: 30px;
	padding-bottom: 3px;
}

.myPage_list>li:hover {
	background-color: #f1f1f1;
	font-weight: 800;
}

.myPage_list>li>a:hover {
	color: #4454a1;
}

/*list last*/
.myPage_list>.myPage_list_last {
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}

/**************************section******************************/

/*section*/
.myPage_selection {
	width: 970px;
	/*******************************************************************/
	height: 100%;
	/*border: 1px solid #ff00ff;*/
	overflow: hidden;
	float: left;
}

/************section-header*****************/
.myPage_selection>.myPage_header {
	width: 100%;
	/********************************************************************/
	height: 100%;
	/*border: 1px solid #ff00ff;*/
	float: left;
}

/*h3 글자*/
.myPage_selection>.myPage_header>h3 {
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	display: inline-block;
	padding: 0px 10px 41px 0px;
}

/*p태그 글자*/
.myPage_selection>.myPage_header>p {
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	display: inline-block;
}

/*list 글자*/
.myPage_selection>.myPage_header>ul>li {
	color: rgba(81, 81, 81, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 14px;
	padding: 0px 0px 10px 0px;
}
/************section-article*****************/

/*myPage_article*/
.myPage_selection>.myPage_article {
	width: 100%;
	height: 70px;
	float: left;
	background: rgba(239, 239, 239, 1);
	border: 1px solid rgba(217, 217, 217, 1);
}

/*inputBox*/
.inputBox_r {
	padding: 14px 2px 10px 7px;
	text-align: left;
}

.myPage_article2 .btn_review {
	border-radius: 5px;
	background-color: rgba(245, 245, 245, 1);
	color: rgba(68, 84, 161, 1);
	width: 100px;
	height: 30px;
	border: none;
	font-weight: bold;
	cursor: pointer;
}

.inputBox_r input {
	width: 178px;
	height: 40px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	text-align: center;
	color: rgba(102, 102, 102, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	text-align: center;
}

.inputBox_r select {
	width: 128px;
	height: 42px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	top: 580px;
	left: 945px;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
	text-align: center;
	color: rgba(102, 102, 102, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	cursor:pointer;
}

/*버튼*/
.btns {
	float: right;
	margin: 1px 8px 0px 0px;
	cursor: pointer;
}

.UsagemyPage_btnB {
	width: 200px;
	height: 40px;
}

.UsagemyPage_btnB {
	color: rgba(255, 255, 255, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	background: rgba(68, 84, 161, 1);
	cursor: pointer;
}

.myPage_btnC {
	width: 140px;
	height: 40px;
	position: absolute;
	cursor:pointer;
	margin:3px 0px 0px 5px;
}

.myPage_btnC {
	color: rgba(255, 255, 255, 1);
	position: absolute;
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	background: rgba(239, 192, 74, 1);
}
/*****************top-nav****************************/
/* Add a black background color to the top navigation */
.topnav {
	background-color: white;
	overflow: hidden;
	width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #808080;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	width: 450px;
	border: 1px solid rgba(217, 217, 217, 1);
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: white;
	color: #4454a1;
	border-bottom: 2px solid #4454a1;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: white;

	color: #4454a1;
}

/************section-article2*****************/
.require_info {
	float: right;
	margin: 10px 100px 0px 0px;
}
/*myPage_article2*/
.myPage_selection>.myPage_article2 {
	width: 100%;
	/**************************************************************/
	height: 100%;
	/*border: 1px solid #ff00ff;*/
	float: left;
}

.myPage_selection>.myPage_article2>p {
	margin-left: 365px;
	display: inline-block;
	text-align: center;
}

.DriverenrollForm>form {
	height: 100%;
	margin: 50px;
	padding: 20px;
	box-shadow: 0px 4px 56px rgb(0 0 0/ 4%);
}

/*h4 글자*/
.myPage_article2>h4 {
	color: rgba(70, 84, 163, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 18px;
	border-bottom: 3px solid rgba(68, 84, 161, 1);
	padding: 30px 0px 15px 0px;
}
/*리스트 테이블*/
.myPage_article2>table {
	width: 100%;
	height: 51px;
	background: rgba(245, 245, 245, 1);
	text-align: center;
}

.myPage_article2>th {
	background-color: rgba(245, 245, 245, 1);
	border-bottom: 2px solid rgba(245, 245, 245, 1);
}

.myPage_article2>td {
	background-color: white;
	border-bottom: 2px solid rgba(245, 245, 245, 1);
}

/*버튼*/
.btn_imageAttach {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 10px;
	width: 200px;
	height: 300px;
	background: url(https://picsum.photos/200/300);
}
/*버튼*/
.DForm_enrollbtn {
	color: rgba(255, 255, 255, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	text-align: center;
	background: rgba(68, 84, 161, 1);
	width: 150px;
	height: 40px;
	cursor: pointer;
}

.DForm_enrollbtn0 {
	width: 283px;
	height: 65px;
	background-color: rgba(70, 84, 163, 1);
	border-radius: 6px;
	color: rgba(255, 255, 255, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	margin-left: 265px;
	margin-top: 100px; margin-bottom : 100px;
	display: inline-block;
	text-align: center;
	margin-bottom: 100px;
	cursor: pointer;
}
.DForm_enrollbtnQna {
	width: 283px;
	height: 65px;
	background-color: rgba(70, 84, 163, 1);
	border-radius: 6px;
	color: rgba(255, 255, 255, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	margin-left: 330px;
	margin-top: 75px; margin-bottom : 100px;
	display: inline-block;
	text-align: center;
	margin-bottom: 100px;
	cursor: pointer;
}


.DForm_enrollbtn {
	width: 283px;
	height: 65px;
	background-color: rgba(70, 84, 163, 1);
	border-radius: 6px;
	color: rgba(255, 255, 255, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	margin-top: 100px;
	margin-bottom: 100px; margin-left : 280px; display : inline-block;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	margin-left: 280px;
}

.DForm_enrollbtn>span {
	display: inline-block;
	width: 100;
	height: 100%;
	padding: 20px;
}
/*페이징*/
.paging {
	margin: 50px 0px 0px 175px;
	/*    margin-top: 50px; */
	width: 672px;
	height: 45px;
	font-family: Noto Sans;
	font-weight: bold;
	font-size: 12px;
}

.paging>ul {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.paging ul>li {
	float: left;
	padding: 15px 17px 15px 17px;
	border: 1px solid rgba(239, 239, 239, 1);
}

.paging .myPage_PagePicto {
	width: 11px;
	height: 11px;
}

.paging ul>li>a {
	color: rgba(75, 75, 75, 1);
}

.reserv-paging {
	/* 	margin: 50px 0px 0px 200px; */
	/*  margin-top: 50px; */
	/* 	width: 672px; */
	margin: 50px auto;
	height: 40px;
	font-weight: 600;
	font-size: 12px;
}

.reserv-paging ul {
	display: table;
	margin: 0px auto;
}

.reserv-paging ul>li {
	float: left;
	padding: 15px 17px 15px 17px;
	border: 1px solid rgba(239, 239, 239, 1);
}

.reserv-paging .myPage_PagePicto {
	width: 11px;
	height: 11px;
}

.reserv-paging ul>li>a {
	color: rgba(75, 75, 75, 1);
}

.myRDMstate {
	color: blue;
}

.myPage_article2 .DriverenrollForm th {
	padding: 20px 0px 20px 0px;
	background-color: white;
	border-bottom: none;
}

.DL_info {
	margin: 50px 100px 50px 50px;
}

.DC_info {
	margin: 50px 50px 50px 50px;
}

.DC_etc {
	margin: 50px 100px 50px 50px;
}

.memo {
	margin: 50px 100px 50px 50px;
}

.memo textarea {
	width: 700px;
	height: 130px;
	background: rgba(255, 255, 255, 1);
	display: inline-block;
	float: left;
}
/*버튼 모양잡기*/
.DriverenrollForm  .smallbtn {
	text-align: center;
	color: rgba(68, 84, 161, 1);
	width: 80px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(73, 85, 159, 1);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
	float: left;
	cursor: pointer;
}

.DriverenrollForm span {
	display: inline-block;
	padding-top: 10px;
}

.DriverenrollForm h5 {
	padding-bottom: 10px;
}
/***********myDriverForm파일선택************
.filebox input[type="file"] {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* input style
.upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    width: 30%;
    color: #999999;
}

/* label style 
.filebox label {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
    margin-left: 10px;
}

*/

/*input 모양잡기*/
.DL_info input {
	width: 281px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 6px;
	margin: 10px 10px 10px 50px;
}

.join_call input {
	margin-left: 82px;
}

.DL_info .dltable {
	display: table;
	width: 100%;
}

.DL_info>.dl_wrap1 {
	display: table-cell;
	width: 80px;
	vertical-align: middle;
	table-layout: fixed;
}

.DL_info .dltable .dl_box #dl_1 {
	width: 80px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 6px;
	margin-right: 0px 0px 0px 40px;
	box-sizing: border-box;
}

.DL_info .dltable .dl_box .dl {
	width: 80px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 6px;
	margin: 0px;
	box-sizing: border-box;
}

.error_next_box {
	display: block;
	margin: 9px 0 -2px;
	font-size: 12px;
	line-height: 14px;
	color: red;
}

.DC_info input {
	width: 281px;
	height: 35px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	border-radius: 6px;
	margin: 10px 10px 10px 50px;
}

.DC_etc input {
	accent-color: rgba(73, 85, 159, 1);
}

.DC_etc span {
	color: rgba(72, 72, 72, 1);
	font-family: Noto Sans;
	font-weight: 500;
	font-size: 16px;
	text-align: left;
	float: left;
	padding: 0px 15px 0px 15px;
	margin: 18px 0px 0px 0px;
	cursor: pointer;
}

.DriverenrollForm th.one {
	display: inline-block;
	width: 283;
}
/*차량인증 띈거 붙이기*/
.DriverenrollForm td {
	padding: 0px 0px 0px 0px;
	background-color: white;
	border-bottom: none;
	width: 182.8;
}
/*Usage*/
.UsageinputBox input {
	width: 178px;
	height: 40px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	text-align: center;
	color: rgba(102, 102, 102, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	text-align: center;
}

.UsageinputBox select {
	width: 128px;
	height: 42px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	top: 580px;
	left: 945px;
	border: 1px solid rgba(217, 217, 217, 1);
	overflow: hidden;
	text-align: center;
	color: rgba(102, 102, 102, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	cursor:pointer;
}

.UsageinputBox {
	padding: 14px 2px 10px 55px;
	text-align: left;
}

/*drivermain2*/
.car_pic {
	padding-bottom: 20px;
}

.right_smallbtn {
	float: right;
	cursor: pointer;
}
/*myQnaWriteForm*/
.myQnaryeo {
	margin: 20px 50px 0px 50px;
	padding: 20px;
}

.myQnaryeo label {
	width: 39px;
	color: rgba(30, 30, 30, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}

.myQnaryeo select {
	width: 650px;
	height: 45px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	/*border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;*/
	color: black;
}

.myQnaryeo .myqnainput {
	width: 650px;
	height: 45px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	/*border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;*/
	color: black;
}

.myQnaryeo td {
	margin: 20px;
	padding: 10px;
}

.myQnaryeo textarea {
	width: 650px;
	height: 380px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(217, 217, 217, 1);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	color: black;
}

.QnaWFp_group {
	margin-left: 150px;
	color: #444150;
	display: inline-block;
}

.underlinegray {
	margin-top: 20px;
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}

.myQnaryeo .imgbox {
	postion: relative;
	width: 90px;
	height: 90px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	border: 1px solid rgba(217, 217, 217, 1);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	overflow: hidden;
}

.imgbox .drag-file.highlight {
	border: 3px dashed red;
}

.imgbox .drag-file .image {
	width: 40px;
}

.imgbox .drag-file .message {
	margin-bottom: 0;
}

.imgbox .drag-file .preview {
	display: none;
	position: absolute;
	left: 0;
	height: 0;
	width: 100%;
	height: 100%;
}

.myQnaryeo>.imgbox>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#input-file {
	position: absolute;
	width: 0;
	height: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
}