@charset "UTF-8";

.myPage_Infoheader {
	width: 100%;
	height: 100%;
}

.myPage_Infoheader>h3 {
	color: rgba(47, 47, 48, 1);
	font-family: Noto Sans;
	font-weight: SemiBold;
	font-size: 24px;
	display: inline-block;
	padding: 0px 10px 41px 0px;
}

.myPage_InfoArticle {
	width: 100%;
	height: 100%;
	border-top: 3px solid rgba(68, 84, 161, 1);
}

#address_check {
	box-sizing: border-box;
	width: 100px;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #D9D9D9;
	color: #a3a3a3;
	font-size: 14px;
	cursor: pointer;
}

.myInfoForm_border {
	width: 100%;
	height: 2px;;
	border-top: 2px solid #D9D9D9;
	margin-top:30px;
}