@charset "UTF-8";

/*************************myPointCharge**************************/

/*충전박스*/
.myPage_article2> .myPage_pointCharge {
	width: 610px;
	
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	border-radius: 10px;
	box-shadow: 0px 4px 56px rgb(0 0 0/ 4%);
	margin: 50px 0px 0px 120px;
	padding: 25px 50px 0px 50px;
}

/*충전금액 글자*/
.myPage_pointCharge>.chargeMoney {
	color: rgba(68, 65, 80, 1);
	font-family: Noto Sans;
	font-weight: Thin Italic;
	font-size: 24px;
	margin-left: 30px;
}

/*충전금액 설명*/
.chargeEx {
	padding: 20px 0px 45px 0px;
	margin-left: 30px;
}

.chargeEx>p {
	color: rgba(68, 65, 80, 1);
	font-family: Noto Sans;
	font-weight: Regular;
	font-size: 16px;
	opacity: 0.5;
}

/*무통장입금 입금자명 글자*/
.myPage_pointCharge>p {
	color: rgba(68, 65, 80, 1);
	font-family: Noto Sans;
	font-weight: Thin Italic;
	font-size: 16px;
	padding: 30px 0px 18px 0px;
	margin-left: 30px;
}

/*input박스*/
.myPage_pointCharge>input {
	width: 551px;
	height: 63px;
	background: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border: 1px solid rgba(217, 217, 217, 1);
	margin-left: 30px;
	padding-left: 20px;
}

/*충전버튼*/
.myPage_pointCharge>.myPage_btnB {
	width: 553px;
	height: 63px;
	font-size: 24px; 
	border-radius : 4px;
	margin: 50px 0px 0px 30px;
	border-radius: 4px;
}