@charset "UTF-8";

/*환불박스*/


.myPage_RefundAsk {
	width: 70px;
	height: 30px;
	background: rgba(239, 239, 239, 1);
	display: inline-block; 
	border-radius : 5px;
}

.myPage_RefundAsk span {
	padding-top: 6px;
	display: inline-block;
}
.myPage_article2 > .RefundAsk > tbody > tr > td {
	padding: 13px 0px 13px 0px;
}