@charset "UTF-8";


.score-box {
	font-size: 20px;
/* 	border:1px solid black; */
}

.score-box .score {
	position: relative;
	display: inline-block;
}

.score-box .score .slider {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 100;
	opacity: 0.0;
	cursor:pointer;
}	 

.score-box .score .foreground {
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	color: #4454a1;
	height: 100%;
}	 


/*myPage_article2*/
.myPage-usage-article2 thead > tr{
	border-bottom: 1px solid rgba(217, 217, 217, 1);
}
.myPage_selection>.myPage-usage-article2 {
	width: 100%;
	height: 100%;
	/*border: 1px solid #ff00ff;*/
	float: left;
}

/*h4 글자*/
.myPage-usage-article2>h4 {
	color: rgba(70, 84, 163, 1);
	font-family: Noto Sans;
	font-weight: 700;
	font-size: 18px;
	padding: 30px 0px 15px 0px;
}

/*리스트 테이블*/
.myPage-usage-article2>table {
	width: 100%;
	height: 51px;
	background: rgba(245, 245, 245, 1);
	text-align: center;
	color: rgba(30, 30, 30, 1);
	font-family: Noto Sans;
	font-weight: Medium;
	font-size: 14px;
}

.myPage-usage-article2 > table > thead > tr> th {
	padding: 20px 0px 20px 0px;
	background-color: rgba(245, 245, 245, 1);
}

.myPage-usage-article2 > table > tbody > tr> td {
	padding: 20px 0px 20px 0px;
	background-color: white;
}

/*페이징*/
.myPage-usage-article2 .paging ul>li>a.active {
	font-size: 15px;
}


.review-box {
	width: 720px;
    margin: 60px auto;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px #e8e7e7;
}

.review-first-box {
	padding: 0px 0px 20px 0px; 
	border-bottom:1px solid #bfbfbf;
}

.review-second-box {
	padding-bottom:40px; 
	margin:40px 0px 40px 0px; 
	border-bottom:1px solid #bfbfbf;
}
.review-third-box {
	margin: 40px 0px 40px 0px;
}
.review-last-box {
	margin: 0px 0px 0px 40px;
}
.review-in-box {
	float:left;
}

.review-img {
	height: 60px; 
}
.rhb-ta {
	display:block;
	width:700px; 
	height:100px; 
	margin:0px auto;
	border-radius: 5px;
}
.review-btn {
	display:block; 
	margin:0px auto; 
	border-radius:5px; 
	width:200px; 
	height:50px; 
	background-color:#4454a1; 
	color:white;
}
.rbp {
	margin: 0px 0px 20px 0px;
}
.rbp2 {
	margin: 0px 0px 50px 0px;
}
.rbpc {
	color:#4454a1;
}

.rfbp {
	margin: 0px 30px 20px 0px;
}
.rfbp2 {
	margin: 0px 30px 50px 0px;
}
.ride-user {
	float: right;
	border-radius:5px;
	margin: 0px 550px 0px 0px;
	font-size:14px;	
}